<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap and Custom CSS -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QzORL5pEJw4HkQZGnF7ODcqKDVEtJgXbZjuxlVe1z72lZlgT7PbLb08U5Tn0FiJk" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
</head>
<body>

    <title>My Simple Webpage</title>


    <!-- Video or gif background -->
    <video autoplay loop muted id="background-video">
        <source src="{{ url_for('static', filename='assets/media/cityscape.mp4') }}" type="video/mp4">
        <!-- Fallback for browsers that don't support video -->
        Your browser does not support the video tag.
    </video>

    <!-- Content box with header and paragraph -->
    <div class="content-box">
        <h1>Welcome to Gerards Hub</h1>
        <h2>Menu</h2>

        <!-- Bullet point list of options -->
        <ul class="options-list">
            <li><a href="{{ url_for('main.create_chatbot') }}">Chatbot</a></li>

        </ul>
    </div>

</body>
</html>
